<h1><%= @room.name %></h1>

<p style="word-wrap: anywhere;">
  <strong>JWT:</strong>
  <%= @jwt %>
</p>
<p>
  <strong>twilio room:</strong>
  <%= @room.twilio_room_id %>
</p>

<div id="remote-media-div"></div>

<span><%= link "Edit", to: Routes.room_path(@conn, :edit, @room) %></span>
<span><%= link "Back", to: Routes.room_path(@conn, :index) %></span>
